html {
    box-sizing: border-box;
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }


  #nome-do-livro {
      text-align: center;
      font-size: 25px;
      font-weight: 600;
      color: blueviolet;
      margin-top: 0;
  }

  #menu ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      background-color: blueviolet;
      color: white;
      font-weight: 600;
      height: 30px;
      align-items: center;
  }

  .information {
      display: flex;
      width: 100%;
      justify-content: space-around;
  }

  .information aside {
      background-color: rgb(225, 220, 245);
      border-radius: 10px;
  }

  .information aside h2 {
      text-align: center;
  }

  .information aside ul li {
      width: 95%;
  }

  .main-content {
      margin: 0 3%;
  }

  .main-content h1 {
      text-align: center;
  }