*{
    margin: 0;
}

h1 {
    text-align: center;
    color:rgb(255, 255, 255);
    vertical-align: middle;
    padding: 20px;
    background-color: rgb(53, 163, 130);
    font-size: 60px;
    font-family:fantasy;
}